body {
    background-color:lightgrey;
}

img {
    max-width: 80px;
}

h1 {
    display: inline-block;
    vertical-align: bottom;
    font-family: 'Style Script', cursive;
    color: rgb(106, 0, 155);
    font-size: 45px;
}

li, .btn, input {
    font-family: 'Bebas Neue', cursive;
}

li:hover {
    background-color: rgb(255, 255, 124);
}


.special-width {
    width: 40%;
}

/* MEDIA QUERIES */

/* SIZE M: */
@media screen and (max-width: 768px) {
    .special-width {
        width: 60%;
    }
    
}